server:
  port: 8080

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  task:
    scheduling:
      pool:
        size: 10
      thread-name-prefix: scheduler-

  sql:
    init:
      encoding: UTF-8
#      data-locations: classpath:/data.sql
#      mode: always

  mail:
    protocol: smtp
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_ACCOUNT}
    password: ${MAIL_APP_PASSWORD}
    default-encoding: utf-8
    properties:
      mail:
        smtp:
          starttls:
            enable: true
          auth: true

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: false
        format_sql: false
        connection:
          CharSet: utf-8
          characterEncoding: utf-8
          useUnicode: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
#    defer-datasource-initialization: true

logging.level:
  root: info
#  org.hibernate.SQL: debug
#  org.springframework.security: debug
#  org.springframework.web: debug

# 혹시나 에러가 뜨면 "_"에서 "-"으로 바꾸기

jwt_secret_key: ${JWT_SECRET_KEY}
admin_password: ${ADMIN_PASSWORD}

kakao:
  client_id: ${KAKAO_CLIENT_ID}
  redirect_uri: ${KAKAO_REDIRECT_URI}

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    region:
      static: ap-northeast-2
    s3:
      bucket: filmfly-backend

memcached:
  host: ${MEMCACHED_HOST}
  port: ${MEMCACHED_PORT:11211}
  timeout: 7000